[submodule "cmake/modules"]
	path = cmake/modules
	url = git@github.com:BoostCMake/cmake_modules.git
[submodule "libs/codec"]
	path = libs/codec
	url = git@github.com:nilfoundation/crypto3-codec.git
[submodule "share/state-proof-verify"]
	path = share/evm-proof-verify
	url = git@github.com:nilfoundation/evm-placeholder-verification.git
[submodule "share/starknet-proof-verify"]
	path = share/cairo-proof-verify
	url = git@github.com:nilfoundation/cairo-placeholder-verification.git
[submodule "libs/actor/blueprint"]
	path = libs/actor/blueprint
	url = git@github.com:nilfoundation/actor-blueprint.git
[submodule "libs/application"]
	path = libs/application
	url = git@github.com:NilFoundation/application.git
[submodule "libs/module"]
	path = libs/module
	url = git@github.com:nilfoundation/module.git
[submodule "libs/plugin"]
	path = libs/plugin
	url = git@github.com:NilFoundation/plugin.git
[submodule "libs/actor/cluster"]
	path = libs/actor/cluster
	url = git@github.com:NilFoundation/actor-cluster.git
[submodule "libs/actor/container"]
	path = libs/actor/container
	url = git@github.com:NilFoundation/actor-containers.git
[submodule "libs/actor/core"]
	path = libs/actor/core
	url = git@github.com:nilfoundation/actor-core.git
[submodule "libs/actor/dpdk"]
	path = libs/actor/dpdk
	url = git@github.com:NilFoundation/dpdk.git
[submodule "libs/actor/math"]
	path = libs/actor/math
	url = git@github.com:NilFoundation/actor-math.git
[submodule "libs/actor/network"]
	path = libs/actor/network
	url = git@github.com:NilFoundation/actor-network.git
[submodule "libs/actor/zk"]
	path = libs/actor/zk
	url = git@github.com:nilfoundation/actor-zk.git
[submodule "libs/actor/shim/epoll"]
	path = libs/actor/shim/epoll
	url = https://github.com/NilFoundation/epoll-shim.git
[submodule "crypto3"]
	path = crypto3
	url = https://github.com/NilFoundation/crypto3.git
